

.login-div{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--8);
}
.login-div-left{
    width: 400px;
    display: flex;
    flex-direction: column;
    
}
.login-div-right{
    width: 90vw;
    height: 97vh;
    background-color: var(--9);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.login-left-text {
    width: 320px;
}

.login-logo{
    width: 150px;
}
.login-div-left div{
    display: flex;
    align-items: center;

}

.login-3dperson{
    max-width: 400px;
    z-index: 2;
    margin-left: -200px;
    margin-top: 700px;
    transition: 2s;


}

.login-left-top{
    height: 80vh;
    display: flex;
    padding: 30px;
}

.login-left-logo{
    justify-content: center;
}


.login-3dperson { 
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(-70px,   0px); }
    50%  { transform: translate(0, 50px); }
    100%   { transform: translate(-70px, -0px); }   
}


@media only screen and (max-width: 700px) {


    .login-div{
        flex-direction: column-reverse;
        margin: 0 auto!important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-div-right{
        border-radius: 10px;
        width: 95vw;
        margin-top: 10px;
    }
    .login-3dperson{
        width: 200px;
        position: absolute;

        margin-top: 50px;
        margin-left: -70px;
    }
    .login-left-top{
        height: 100px;
        margin-top: -120px;
    }
    .login-left-text{
    display:none;
    }
}