@import '../../styles/color';
.money-div{
    background-color: $box-background;
    width: 310px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;

}


  #myChart{
    z-index: 2;
    margin-top: -20px;
    margin-left: -87px;
    transform: scale(0.7);
    width: 470px!important;
    height: 140px!important;


  }

.box-Chart{
    width:312px;
    height: 140px;
    overflow: hidden;

}

.Cot-number{
    margin-bottom: -86px;
    margin-top: -15px;
    margin-left: 10px;
    font-size: 18px;
    z-index: 3;
    position: absolute;
}
