.money-div{
    background-color: #fff;
    width: 290px;
    height: 140px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10px;

}


  #myChart{
    z-index: 2;
    margin-top: 20px;
    margin-left: -140px;

  }

.box-Chart{
    width:312px;
    height: 140px;
    overflow: hidden;
}

.Cot-number{
    margin-bottom: -86px;
    margin-top: -10px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 800;
    z-index: 3;
    position: absolute;
}
