.inforbtnsbox{
    width: 220px;
    margin-top: 5px;
}

.infor-bts-rows div{
    background-color: var(--9);
    width: 105px;
    height: 92px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -4px;

}
.infor-bts-rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.infor-bts-rows div a p{
    margin-right: 0!important;
    margin-top: 5px;
}