.study-box{
    background-color: var(--9);
    border-radius: 20px;
    width: 540px;
    height: 155px;
    margin-bottom: 20px;
    margin-top: -40px;
}

.study-btn-levels button{
    background: none;
    border-radius: 20px;
        margin: 0px 3px;
        padding: 3px 14px;
        margin-top: 10px;

}
.study-btn-levels{
    margin: 0px 17px;
    margin-bottom: 10px;

}
.study-btn-trans{

}

.study-container{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.study-container div{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.study-container div button{
    background: none;
    border: none;
    
}

.study-container div h2{
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.study-container  p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-left: 20px;
    margin-top: -15px;

}

.study-btn-trans{
    border: 1px solid var(--5);
    opacity: .7;
    color:var(--5);
}

.study-btn-hard{
    border: 1px solid #E74962;
    color: #E74962;
}

.study-btn-medium{
    border: 1px solid #553F8E;
    color: #553F8E;
}


.study-btn-easy{
    border: 1px solid #A5C278;
    color: #A5C278;
}

