.add-todolist-div{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    z-index: 4;
}
.todolist-page{
    min-height: 100vh;
}
.add-bg-degrade{
    background-color: rgba(0, 0, 0, 0.057);
    width: 100vw;
    height: 100vh;
    background-color: rgba(142, 142, 142, 0.103);
    backdrop-filter: blur(2px);
    position: fixed;
}

.add-todolist{
    position: fixed;
}
.add-todolist-container{
    background-color: var(--9);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    gap: 30px;
}

.add-todolist-configs h5{
    margin-bottom: 8px;
    margin-top: 10px;
}
.add-todolist-categorys-btns{
    display: flex;
    margin: 0;
    padding: 0;
}
.add-todolist-categorys-btns button{
    margin-top:10px;
    margin-right: 3px;
    
}

.todolist-others{
    color: var(--4);
    border: 1px solid var(--4)!important;
    border-radius: 3px;
}

.todolist-heath{
    color: var(--2);
    border: 1px solid var(--2)!important;
    border-radius: 3px;
}

.todolist-shop{
    color: var(--1);
    border: 1px solid var(--1)!important;
    border-radius: 3px;
}
.todolist-document{
    color: var(--3);
    border: 1px solid var(--3)!important;
    border-radius: 3px;
}

.btn-add{
    width: 270px!important;
    background-color: var(--3)!important;
    margin: 0!important;
    margin-top: 20px!important;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center!important;
}

.add-todolist-description{
    flex-direction: column!important;
    display: flex;
}