.todolist-box{
    width: 320px;
    height: 620px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.todolist-item{
    background-color: rgba(0, 0, 0, 0.017);
    width: 95%;
    margin-left: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.todolist-item p{
    padding: 13px 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.todolist-item button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    font-size: 25px;
    margin-top: -10px;
}

.todolist-comply{
    background-color: #5e3d98f5;
    border: none;

}

.todolist-comply p{
    color:rgb(255, 255, 255);
}

.todolist-comply button{
}

.todolist-scrol{
    height: 560px;
    overflow: scroll;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.todolist-scrol::-webkit-scrollbar {
    display: none;
  }
