
@media only screen and (max-width: 1060px) {
    .article-page{
        margin-bottom: 100px;
        
        
        margin: 0 auto;
    }
.article-page{

}
}


@media only screen and (max-width: 760px) {
    .article-page{
        max-width: 100%;
        margin-bottom: 100px;
    }

}