.blog-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 30px;
}

.princial-article span{
    width: 100%;

}

.princial-article div{
    width: 100%;

}
.skeleton-img-blog{
}

@media only screen and (max-width: 1060px) {
    .princial-article span{
        width: 100%;
        max-width: 100%;
    
    }
    .princial-article-title{
        font-size: 25px;
        line-height: 28px;
    }

    .princial-article div{
        width: 100%!important;
    }
        .princial-article{
            display: flex;
            flex-direction: column;
            width: 580px;
            height: 600px;
        }
        .princial-article-img{
            width: 100%;
        }
        .principal-article-container{
            width: 70%!important;
            height: 330px;

        }
        .principal-article-container a{
            width: 90%;
            margin-bottom: 10px;
        }

        .other-articles{
            width: 600px;
        }
        .blog-list-category {
            width: 80%;
            margin: 32px 0!important;
        }

}

@media only screen and (max-width: 760px) {

    .blog-page{
        max-width: 90vw;
        overflow: hidden;

        margin: 0 auto;
    }

    .princial-article{

        width: 99%!important;
        height: 700px!important;

    }
    .princial-article-img{
        width: 100%;
    }
    .princial-article-img div{
        height: 300px;
    }
    .principal-article-container{
        width: 90%!important;
        height: 1230px!important;

    }
    .other-articles{
        width: 95vw;

    }
    .blog-articles-div {
        width: 98vw;
        overflow: hidden;
    }

    .blog-list-category ul a{
        margin-right: 10px;
    }
    .other-articles
    {
        margin-left: 10px!important;

    }
    
    .princial-article{
        margin-left: 0!important;
    }


}