
@import './../../styles/color';
@import './../../styles/mixin';

.create-options-page{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.create-options-left{
    width: 450px;
    max-width: 95vw;
    background-color: $box-background;
    min-height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    text-align: left;
}


.create-options-right img{
    width: 200px;
    z-index: 2;
    position: absolute;
}
.city-description{
    text-align: justify;
}
.question-citys div{
    display: flex;
    flex-direction: column;
}
.city-header, .city-country{
    display: flex;
    flex-direction: row!important;
}


@media only screen and (max-width: 512px){
    .create-options-page{
        flex-direction: column;
    }
    .create-options-left{
        border-radius: 0;
    }
    .create-options-right{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
            margin: 0 auto;
            margin-top: -20px;
        }
    }
}