.style-box{
    display: flex;
    background-color: var(--9);
    width: 40px;
    border-radius: 4px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.style-box svg{
    padding: 5px;
    width: 10px;
    margin-top: -9px;
}

.style-selected{
    background-color: var(--2);
    
}

.style-box svg g circle ,.style-box svg g line {
    stroke: #838383!important;
}

.style-selected svg path ,  .style-selected  svg g circle , .style-selected  svg g line{
    stroke: #fff!important;
}
