$primary-color:#6958A3;
$secondary-color:#FA385F;
$terciary-color:#68D9A5;
$quartenary-color:#F1F180;
$quintenary-color:#B9CBBB;
$title-color:#3B3B3B;
$paragraph-color:#838383;
$paragraph-light-color:#BCBCBC;
$box-background:#fff;
$background:#F8F8F8;
$box-shadow:rgb(13,13,13,10)


