@import './color';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

#root{
    margin-left: 80px;
}

body{
    background-color: $background;
}

h1, h2, h3, h4, h5,button{
    color: $title-color;
    font-family: 'Poppins';
    font-weight: 700;

}

h1{
    font-size: 40pt;
}
h2{
    font-size: 32pt;
}
h3{
    font-size: 26pt;
}
h4{
    font-size: 20pt;
}
h5{
    font-size: 13pt;
}
p{
    font-size: 11pt;
    color: $paragraph-color;

}
.p-small{
    font-size: 11pt;
    color: $paragraph-color;
}

a{
    text-decoration: none;
    color: $paragraph-light-color;
 }

input{
    color: $paragraph-color;
    min-width: 200px;
    padding: 4px 0;
    margin: 4px 0px;
    background: none;
    border: none;
    border-bottom: 1px solid $paragraph-light-color;
    font-size: 11pt;

}
input::placeholder{
    color: $paragraph-light-color;
}
input:focus{
    outline: none;
}

select{
    padding: 4px;
    border: none;
    background-color: $background;
    border-radius: 4px;
    color: $paragraph-color;
    margin: 4px 0px;



}

label h5{
    margin-top:32px;
}
.opacityNone{
    display: none!important;
}

button{
    cursor: pointer;

}

 .btn-error,.btn-success,.btn-atention{
    width: 300px;
    height: 50px;
    border:none;
    border-radius: 16px;
    margin: 16px 0px;
    font-size: 13pt;
    transition: 0.2s;
    box-shadow: 0px 4px 4px #b5b5b517;
}


.btn-success:hover, .btn-error:hover ,.btn-atention:hover{
    box-shadow: 0 0.3rem 0.6rem rgb(31 52 62 / 16%);
    transform: translate(0.2rem,-0.2rem);}


.btn-success{
    background-color: $terciary-color;

}    
.btn-error{
    background-color: $secondary-color;

}
.btn-atention {
    background-color: $quartenary-color;

}
.btn-inative{
    opacity: 0.5;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}
.marginHeader{
    margin-left: 100px;
}
.space-top{
    margin-top: 42px;
}


@media only screen and (max-width: 1024px){
    #root{
        margin: 0 auto;
    }
}