@import './color';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');



body{
    background-color: $background;
}

h1, h2, h3, h4, h5,button{
    color: $title-color;
    font-family: 'Poppins';
    font-weight: 700;

}

h1{
    font-size: 40pt;
}
h2{
    font-size: 32pt;
}
h3{
    font-size: 26pt;
    line-height: 30pt;

}
h4{
    font-size: 20pt;
}
h5{
    font-size: 11pt;
    line-height: 15pt;
}
p{
    font-size: 11pt;
    color: $paragraph-color;

}
.p-small{
    font-size: 11pt;
    color: $paragraph-color;
}

a{
    text-decoration: none;
    color: $paragraph-light-color;
 }

input{
    color: $paragraph-dark-color;
    min-width: 265px;
    padding: 4px 0;
    margin: 4px 0px;
    background: none;
    border: none;
    border-bottom: 1px solid $paragraph-light-color;
    font-size: 11pt;
    border-radius: 0;

}
textarea{
    padding: 8px;
    margin: 12px 0px;
    border: 1px solid $paragraph-light-color;
}
input::placeholder{
    color: $paragraph-light-color;
}
input:focus{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    
}
input[type="date"]{
    background-image: url('https://mateusdavila.com/iconcalendar.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 16px;
    height: 30px;
    text-align: left;
}

select{
    padding: 12px 36px 12px 12px;
    border: none;
    background-color: $background;
    border-radius: 4px;
    color: $paragraph-color;
    margin: 4px 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('https://mateusdavila.com/iconsetabaixo.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    width: 265px;
}



label h5{
    margin-top:32px;
}
.opacityNone{
    display: none!important;
}

button{
    cursor: pointer;

}

 .btn-error,.btn-success,.btn-atention{
    width: 300px;
    height: 50px;
    border:none;
    border-radius: 16px;
    margin: 16px 0px;
    font-size: 13pt;
    transition: 0.4s;
    box-shadow: 0px 4px 4px #b5b5b517;
}


.btn-success:hover, .btn-error:hover ,.btn-atention:hover{
    box-shadow: 0 0.3rem 0.6rem rgb(31 52 62 / 16%);
    transform: translate(0.2rem,-0.2rem);}


.btn-success{
    background-color: $terciary-color;
    box-shadow: 0 0.3rem 0.6rem $box-shadow-green;

}  

.btn-add-new{
    background-color: $terciary-color!important;
    box-shadow: 0 0.3rem 0.6rem $box-shadow-green;
    width: max-content!important;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    margin-left: auto;
    p{
        color: $title-color!important;
        font-weight: 900!important;
        margin-left: 4px;

    }
}

.btn-error{
    background-color: $secondary-color;

}
.btn-atention {
    background-color: $quartenary-color;

}
.btn-inative{
    opacity: 0.5;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 16px;
}
.marginHeader{
    margin-left: 100px;
}
.space-top{
    margin-top: 42px;
}

.skeletonTheme{
    baseColor:#000;
}









 #root .container{
    padding-left: 100px;
}






@media only screen and (max-width: 1024px){
    #root{
        margin: 0 auto;
    }
}