.page-container{
    height: 100vh;
    margin-left: 100px;
    
    

}

.dashboard-title{
    font-weight: 800;
    margin: 0;
}
.img-home{
    position: absolute;
    bottom: -20px;
    width: 300px;
    right: -160px;
}

.home-medium{
    display: grid;
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: repeat(5, 150px);
    justify-content: center;
    gap: 10px;
}


.home-top{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 0px 60px;
    padding-bottom: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.dashboard-title{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.seach-box{
    grid-column-start: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);

}
.perfil-box{
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.city-div{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;

}

.blog-div{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.radio-box{
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;

}

.todolist-box{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);

}

.ads-box{
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 9;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);

}

.money-div{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);

}
.finance-box{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4; 
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);

}
.study-box{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9; 
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);

}

.daysToTravel-box{
    grid-column-start:10;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2; 
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.063);


}
.inforbtnsbox{
    grid-column-start:10;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 4; 
}