@import './../../styles/color';

.header-page{
    min-height: 95vh;
    position: fixed;
    z-index: 2;
    background-color:$box-background;
    display: flex;
    flex-direction: column;
    width: 90px;
    align-items: flex-start;
    border-radius: 8px;
    margin: 8px;
    overflow: hidden;
    top: 0;
    transition: 0.2s;
    justify-content: space-between;
    div{
        margin: 20px 0px;
    }

}
$active: false;

.header-page:hover{
    width: 250px;
    $active: true;
    .menu{
        a{
            width: 230px;
        }
    }

}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a:hover{
        background-color: $background;
    }
    a{
        display: grid;
        grid-template-columns: 40px 200px;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0);
        margin: 8px 0;
        margin-left: 8px;
        width: 70px;
        overflow: hidden;
        border-radius: 16px;
        transition: 0.2s;
        justify-content: start;
        padding: 0px 15px;
        height: 60px;

 
        p{
            margin-left: 22px;
            width: 300px;
            display: inline;
            white-space: nowrap;

        }
        img{
            margin: 0 auto;
            display: flex;
            max-width: 16px;
            max-height: 16px;
        }
    }

        
        
    
    
}



.logo-menu {
    a{
        display: flex;
        width: 300px;
        align-items: center;
        img{
            width: 50px;
            margin-right: 20px;
            margin-left: 20px;
        }
        p{
            font-size: 12px;
        }
    }
}



.active{
    background-color: $terciary-color!important;

    box-shadow: 0px 10px 20px rgba(12, 177, 116, 0.493);
    p{
        opacity: 1;
        color: #000;
        font-weight: 800;
    }


}


.exit{
    display: flex;
    align-items: center;
    img{
        opacity: 0.3;
        margin-left: 30px;
        margin-right: 42px;
        transition: 0.8s;
        width: 26px;

    }
    img:hover{
        opacity: 1;
    }
}

@media only screen and (max-width: 750px) {
    .header-page{
        z-index: 10;
        display: flex !important;
        flex-direction: row;
        min-width: 100vw;
        height: 48px;
        bottom: 0;
        position: fixed;
        align-items: center;
        justify-content: center;

        min-height: 48px;
        margin: 0 auto;

        margin-top: auto;
        div{
            margin: 0 auto;
        }




    }
    .logo-menu{
        display: none;
    }

    .exit{
        display: none;
    }
    .menu{
        flex-direction: row;
        a{
            max-width: 50px!important;
            min-width: 50px!important;
            padding: 0;
            margin: 0 auto;
            div{
                margin-left: 16px;
            }
        }
        
    }
    .active {

        border-radius: 12px!Important;
    }
    
    



}