.article-page{
    background-color: var(--9);
    border-radius: 20px;
    max-width: 95%;
    width: 1100px;
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.article-poster-big{
    width: 100%;
    height: 300px;
    background-size: cover;
}


.article-page div div a h5{
    color: var(--2)!important;
}

.article-time-solo {
    display: flex;
    margin-top: -10px;
}
.article-time-solo img{
    width: 12px;
    margin-right: 3px;
}

.article-time-solo p{
    font-size: 15px!important;
    color: var(--7);
    
}

.princial-article-title-solo{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}


@media only screen and (max-width: 1320px) {
    .article-page{
        width: 95%!important;
    }
}