@import './../../styles/color';

.blog-img{
    width: 100%;
    height: 160px;
    background-size: cover;
    border-radius: 2px;
    margin-top: -10px;
}

.blog-box{
    background-color: $box-background;
    height: 480px;
    border-radius: 4px;
    width: 310px;
    
}

.blog-container a {
    padding: 0px 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; 
}


.blog-container a button{
    background: none;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 6px 30px;
    color: $primary-color;
    width: 180px;
    transition: 0.4s;
}

.blog-container a button:hover{
    box-shadow: 0 0.3rem 0.6rem rgb(31 52 62 / 16%);
    transform: translate(0.2rem,-0.2rem);}


.blog-container a h4{
    margin: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: left;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
}

.blog-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin-left: 5px;
}

.btn-blog button{
    background: none;
    border: none;
    margin-top: 4px;
    color: rgb(115, 115, 115);
}

.blog-dashboard-article-category{
    color: $primary-color;
    margin-right: auto!important;
    font-size: 14px;
    margin: 8px 0;
}
.article-time{
    margin-right: auto!important;  
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 12px 0;
    color: $title-color;
}

.article-time img{
    width: 12px;
    margin-top: 2px;
    margin-right: -2px;
}
.blog-container a h4{
    font-size: 18px!important;
}
.blog-container a p{
    font-size: 14px!important;
    margin-bottom: 0px!important;
    margin-top: 10px!important;
    color: var(--7);
}
.blog-container a .article-time p{
    font-size: 12px!important;
    color: var(--7);
    margin: 0!important;
    margin-left: 5px!important;
}

