@import './../../styles/color';
.blog-list-category ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.blog-list-category {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-list-category ul a{
    text-decoration: none;
    padding: 10px 0px;
    text-align: center;
    transition: 0.4s;
    color: $title-color;
    padding: 6px 16px;
    border-radius: 8px;
    opacity: 0.5;
    transition: 0.4s;
    &:hover{
        opacity: 1;
    }

}

.categorySelected{
    background-color: $terciary-color;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(12, 177, 116, 0.493);
    opacity: 1!important;

}