@import './../../styles/color';

.forget-page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-page-bg{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(142, 142, 142, 0);
    backdrop-filter: blur(0px);
    transition: 0.3s;
    
}

.forget-bg-animation{
    background-color: rgba(142, 142, 142, 0.103);
    backdrop-filter: blur(2px);
}

.forget-box{
    z-index: 3;
    background-color: $box-background;
    max-width: 350px;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 24px 16px;
    label{
        display: flex;
        flex-direction: column;
    }
}

.forget-box-animation{
    margin-top: 0px;
    opacity: 1;
}

.forget-box p{
    padding-top: 16px;
    text-align: center;

}



