.forget-page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-page-bg{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(142, 142, 142, 0);
    backdrop-filter: blur(0px);
    transition: 0.3s;
    
}

.forget-bg-animation{
    background-color: rgba(142, 142, 142, 0.103);
    backdrop-filter: blur(2px);
}

.forget-box{
    z-index: 3;
    background-color: #fff;
    width: max-content;
    height: max-content;
    max-width: 320px;
    border-radius: 10px;
    text-align: center;
    margin-top: 500px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.forget-box-animation{
    margin-top: 0px;
    opacity: 1;
}

.forget-box p{

    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;

}

.forget-box label h5{
    width: 200px;
    margin: auto;
    text-align: left!important;
}

