.login-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-header{
    display: flex;
}

.login-header button{
    opacity: .3;
    margin: 20px;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    background: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    
}


.login-form, .singup-form{
    width: 300px;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-header-active{
    opacity: 1!important;
    border-bottom: 5px solid #6940A3!important;
}

.login-form-text{
    padding-top: 30px;
    padding-bottom: 50px;
}

.password-eyes{
    margin-left: -20px;
}

.remember-btn{
    width: 26px;
    height: 15px;
    background-color: #dcdcdc;
    border-radius: 20px;
    transition: 0.4s;
    margin-right: 20px;
}
.remember-btn-cicle{
    height: 15px;
    width: 15px;
    background-color:#ffffff ;
    border-radius: 10px;
    margin-left: 0px;
    transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.058);
}
.remember-btn-selected{
    border-radius: 10px;
    margin-left: 11px;
}

.remember-btn-box-selected{
    background-color: #E84660;
}

.remember{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.remember p{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}

.forgetPassword{
    background: none;
    padding: 19px;
    margin-top: 40px;
    border-radius: 100px;
    border:2px solid #6940A3;
    color: #6940A3;
    opacity: 0.5;
    transition: 0.2s;
}
.forgetPassword:hover{
    padding-left: 24px;
    padding-right: 24px;
    opacity: 1;
}

.require-password  p{
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: #E84660;

}

.require-password{
    margin-top: -40px;
    margin-bottom: 40px;
}

.require-password-sucess{
    color: #9BC352!important;


}
