:root {
  --1: #FB355E;
  --2: #5E3D9B;
  --3: #9DC366;
  --4: #fb9535;
  --5: #454545;
  --6: #838383;
  --7: #BCBCBC;
  --8: #F8F8F8;
  --9: #FFFFFF;
  --10: #bcbcbc3e;
  --11: #fbfbfb;
}


.dark {
  --1: #FB355E;
  --2: #8754e4;
  --3: #9DC366;
  --4: #FBFB35;
  --5: #FFFFFF;
  --6: #545454;
  --7: #BCBCBC;
  --8: #171717;
  --9: #1E1E1E;
  --11: #1c1c1cf1;

}
body, page{
  padding: 0;
  margin: auto 0;
  font-family: 'Lato';
  background-color: var(--8);
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

p{
  color: var(--6);
  font-size: 15px;
}

hr{
  width: 90%;
  opacity: 0.2;
  margin-bottom: 50px;
}

h1{
  font-size: 40px;
  color: var(--5);
  font-weight: 900;
}

h2{
  font-size: 30px;
  color: var(--5);
  font-weight: 900;
}

h3{
  font-size: 25px;
  color: var(--5);
  font-weight: 800;
}

h4{
  font-size: 20px;
  color: var(--5);
  font-weight: 900;
}

h5{
  font-size: 16px;
  color: var(--5);
  font-weight: 900;
}


input{
  border: none;
  border-bottom: 0.4px solid var(--10);
  width: 200px;
  margin-bottom: 20px;  
  background: none;
  color: var(--5);
  font-size: 15px;
  margin-top: 10px;
  padding: 5px;
}

input::placeholder{
  color: var(--5);
  opacity: 0.3;
  margin-bottom: 10px;
  
}

input[type="date"] { 
  background: transparent;
  color: var(--7);
  font-size: 15px;
  padding: 5px 20px;
  margin-top: 10px;
}

textarea{
  border: 1px solid var(--10);
  border-radius: 5px;
  font-family: 'Lato';
  padding: 10px;
}

textarea::placeholder{
  color: var(--5);
  opacity: 0.3;

}

label h5{
  margin-bottom: 15px;
}

select{
  margin-bottom: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--8);
  padding: 10px 20px;
  min-width: 200px;
  color: var(--6);
}

.input-money{
  padding: 10px 20px;

}


button{
  cursor: pointer;
  align-self: center;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn-success, .btn-error, .btn-atention{
  width: 260px;
  height: 40px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  
}

.btn-success{
  background-color: var(--3)!important;

}


.btn-atention{
  background-color: var(--4);

}

.btn-success:hover, .btn-error:hover, .btn-atention:hover{
  width: 270px;
  opacity: 0.9;

}
.btn-error{
  width: 260px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--1);
  transition: 0.3s;
  color: #fff;
  
}

.btn-add-new{
  background-color: var(--3)!important;
  font-weight: 400;
  padding: 10px 20px;
  width: max-content!important;
  border-radius: 10px;
  color: var(--9);
  display: flex;
  align-items: center;
  opacity: 0.9;
  transition: 0.4s;
  text-align: center;
  justify-content: center;
}

.btn-add-new:hover{
  opacity: 1;

}
.btn-add-new svg{
  margin-right: 4px;
}

.btn-edit{
  border: none;
}

.btn-add-new svg g line{
  stroke: var(--9) ;;
}
.btn-add-new p{
  color: var(--9);
  margin: 0;
}







.opacityNone{
  display: none!important;
  opacity: 0;
}
.opacityShow{
  display: inline;
  opacity: 1;
}

.space{
  margin: 30px;
}

.space-medium{
  margin: 20px;
}

.space-button{
  margin-bottom: 20px;
}
.btn-inative{
  opacity: 0.3!important;
  cursor: none!important;
}
.box-header{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: -10px;
    
}

.box-header h6{
  padding: 8px;
}
