@import './../../styles/color';
@import './../../styles/mixin';

.create-options-box{
    max-width: 350px;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;

}

.create-options-box p{
    padding: 0;
}
.create-options-box h5{
    margin-bottom: 10px;
}

.photouser-box{
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.6;
    margin-bottom: 30px;
    margin-top: 10px;
    transition: 0.7s;
}

.photouser-box:hover{
    opacity: 1;
}
.photouser-box div input{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.photouser-box div {
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: 60px;
}



.city-img{
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    max-width: 85vw;
    margin: 32px 0;
}

.city-country-flag{
    width: 30px;
    height: 20px;
    background-size: cover;
    margin-left: 10px;
}

.city-country{
    display: flex;
    justify-content: center;
    align-items: center;
}
.city-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
}


.create-options-box h2{
    margin: 0;

}




.question-cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    text-align: center;
    p{
        font-size: 11pt;
    }
}

.question-cities span{
    display: flex;
    margin: 32px 0;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
    p{
        margin: 32px 0;

    }
}

.question-cities span button{
    width: 300px;
    height: 40px;
    background: none;
    border-radius: 16px;
    margin-bottom: 12px;
}
.question-cities span button:hover{
    box-shadow: 0 0.3rem 0.6rem rgb(31 52 62 / 16%);
    transform: translate(0.2rem,-0.2rem);}



.button-option01{
    border: solid 2px $terciary-color;
    color: var(--3);
    opacity: 0;
    transition: 0.4s;
}

.button-option02{
    border: solid 2px $secondary-color;
    color: var(--2);
    opacity: 0;

    transition: 0.8s;

}

.button-option03{
    border: solid 2px $primary-color;
    opacity: 0;

    color: var(--1);
    transition: 1s;

}
.city-description{
    margin: 32px 0;
}
.todolist-suggetion-div{
    margin: 16px 0px;
    div{
        display: flex;


    }
}
.todolist-check{
    border: solid 1px $paragraph-light-color;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;align-items: center;
    margin-top: 20px;
    img{
        opacity: 0;
    }
}
.todolist-selected{
    
    .todolist-check{
        border: solid 1px $terciary-color;
        img{
            opacity: 1!important;
        }
    }
}


.image-create-options{
    display: flex;
    position: absolute;
    left: 40px;
    z-index: 5;
    top: 20%;
    margin-top: 50px;
    opacity: 0;
    transition:0.6s;
    
    img{
        width: 300px;
        max-height: 400px;
    }
}

.opacityOn{
    opacity: 1!important;
    margin-top: 0;
}